<!DOCTYPE html>
<html>
<head>
  <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
  <title>Jasmine Specs</title>
  <%= stylesheet_link_tag *jasmine_css_files %>
  <%= requirejs_include_tag %>
</head>
<body>
  <div id="jasmine_content"></div>
  <%= yield %>
  <%= javascript_tag do %>
    require(['boot', 'json2', 'helpers/angular_template_helper'], function() {
      require(<%= raw spec_files %>, function() {
        window.onload();
      });
    });
  <% end %>
</body>
</html>

